<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- NOTE bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!-- NOTE Main css -->
    <link rel="stylesheet" href="/style.css" />
    <title>Pic-Less</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container fluid">
        <h2>Pic-Less</h2>
        <% if (user) { %>
        <form action="/logout">
          <button type="submit">Log out</button>
        </form>
        <form action="/user/:userId/profile">
          <button type="submit">Profile</button>
        </form>
        <% } %>
      </div>
    </nav>
  </body>
</html>
