<%- include('../partials/header') %>

<div id="new-post-div">
  <form id="new-post-form" action="/<%= post._id %>/save-edit?_method=PUT" method="POST">
    <h1>Edit Post:</h1>
    <div>
      <input type="text" name="img" placeholder="img-url" style="width: 240px" />
    </div>
    <br />
    <div>
      <textarea name="caption" cols="30" rows="5" placeholder="Type your caption..."></textarea>
    </div>
    <br />
    <div>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
</div>

<%- include('../partials/footer') %>
