<form action="/<%= user._id %>/add-post" method="POST">
  <input type="text" name="img" placeholder="img-url" />
  <input type="text" name="caption" placeholder="caption" />
  <input type="submit" value="Add post" />
</form>
