<%- include('../partials/header') %>

<h1 class="header-line text-left display-4 m-2">New Post</h1>

<div id="new-post-div">
  <form id="new-post-form" action="/<%= user._id %>/add-post" method="POST">
    <div>
      <input type="text" name="img" placeholder="img-url" style="width: 240px" />
    </div>
    <br />
    <div>
      <textarea name="caption" cols="30" rows="5" placeholder="Type your caption..."></textarea>
    </div>
    <br />
    <div>
      <button style="width: 200px;" type="submit" class="btn btn-success">Post</button>
    </div>
  </form>
</div>

<%- include('../partials/footer') %>
