.navbar {
  color: white;
  padding: 0 5px;
}

#home-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 30px;
  padding: 0;
  margin: 2px 10px;
}

#nav-buttons {
  margin: 2px 10px;
}

.welcome-user {
  margin: 5px 20px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 30vh;
  margin: 200px;
}

#small-profile {
  width: 30px;
}

#profile-pic {
  max-width: 41px;
  max-height: 41px;
  border-radius: 200px;
  margin: 2px;
}

body {
  background: url("https://wallpaperaccess.com/full/1209558.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-icons {
  border: none; 
  background-color: transparent; 
  color: rgb(59, 0, 0); 
  font-size: 24px;
}

#logout-body {
  background: url("https://wallpapercave.com/wp/wp5063682.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#logout-div {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#post-container {
  background-color: rgba(196, 187, 148, 0.55);
  margin: 10px;
  width: 500px;
  min-width: 500px;
}

#new-post-div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-post-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
