.navbar {
  color: white;
  padding: 0 5px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 30vh;
  margin: 200px;
}

#small-profile {
  width: 30px;
}

body {
  background: url('https://wallpaperaccess.com/full/1209558.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#logout-body {
  background: url('https://wallpapercave.com/wp/wp5063682.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#logout-div {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#post-container {
  background-color: rgba(196, 187, 148, 0.55);
  margin: 10px;
  width: 500px;
  min-width: 500px;
}